<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PersonalCareGuru.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
				<key>dateExpires</key>
				<string>1/14/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CreditCardForm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>InputBarAccessoryView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MessageKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0B4409766CC7D6F2D8F50BA6AF8CA9A10C27AA</string>
						<key>dateExpires</key>
						<string>1/14/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FH359XD5SX</string>
						<key>name</key>
						<string>Raja Hamilton</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FH359XD5SX.com.RajaHamilton.PersonalCareGuru</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FH359XD5SX</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PersonalCareGuru.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>34c46bf3-0e89-409e-bef3-7c9265caf5a2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.RajaHamilton.PersonalCareGuru</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FH359XD5SX</string>
				<key>name</key>
				<string>Raja Hamilton</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
